<div class="product <%= booking_on_my_artworks.status == "Refused" ? "product-declined" : "" %>">
  <div class="photo-div">
    <%= cl_image_tag(booking_on_my_artworks.artwork.photo, width: 400, height: 600, crop: :limit, class:"product-image") %>
  </div>
  <div class='product-body'>
    <h3> <%= booking_on_my_artworks.artwork.name %> </h3>
    <p> <strong>Starts on:</strong> <%= booking_on_my_artworks.starts_on.strftime('%a %d %b %Y') %> </p>
    <p> <strong>Ends on:</strong> <%= booking_on_my_artworks.ends_on.strftime('%a %d %b %Y') %> </p>
    <p> <strong>Booked by:</strong> <%= link_to booking_on_my_artworks.user.email, user_path(booking_on_my_artworks.user) %></p>
    <p> <strong>Price:</strong> <%= booking_on_my_artworks.price %> €</p>
  </div>


  <div id="status-ajax">

    <div class='product-status'>
      <% if booking_on_my_artworks.status == "Confirmed" %>
      <span class="accept-green"><i class="fa fa-check" aria-hidden="true"></i> confirmed</span>
      <% elsif booking_on_my_artworks.status == "Refused"  %>
      <span class="refuse-red"><i class="fa fa-times" aria-hidden="true"></i> declined</span>
      <% end %>
    </div>

    <% if booking_on_my_artworks.status == "Pending" %>
    <ul class="list-inline product-controls">
      <li>        
        <%= link_to artwork_confirm_booking_path(booking_on_my_artworks.artwork, booking_on_my_artworks), method: :patch, class: "accept-green" do %>
        <span><i class="fa fa-check" aria-hidden="true"></i> confirm</span>
        <% end %>
      </li>
      <li>        
        <%= link_to artwork_refuse_booking_path(booking_on_my_artworks.artwork, booking_on_my_artworks), method: :put, class: "refuse-red" do %>
        <i class="fa fa-ban" aria-hidden="true"></i> refuse
        <% end %>
      </li>
    </ul>

    <% else %>

    <ul class="list-inline product-controls <%= booking_on_my_artworks.status == "Refused" ? "" : "product-controls-hidden" %>">
      <li>
        <% if booking_on_my_artworks.status == "Refused"  %>
        <%= link_to artwork_booking_path(booking_on_my_artworks.artwork, booking_on_my_artworks), class: "control-hover", method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i> remove
        <% end %>
        <% else %>
        <%= link_to artwork_booking_path(booking_on_my_artworks.artwork, booking_on_my_artworks), class: "control-hover", method: :delete do %>
        <i class="fa fa-ban" aria-hidden="true"></i> cancel
        <% end %>
        <% end %>
      </li>
    </ul>

    <% end %>
  </div>
</div>
