<div class="tab-content" id="bookings">
  <div class="list">
    <% if @bookings != [] %>
    <% @bookings.sort { |a, b| [a[:status], a[:starts_on]] <=> [b[:status], b[:starts_on]] }.each do |booking| %>

    <div class="product <%= booking.status == "Refused" ? "product-declined" : "" %> ">
      <div class="photo-div">
      <%= link_to artwork_path(booking.artwork) do %>
        <%= cl_image_tag(booking.artwork.photo, width: 400, height: 600, crop: :limit, class:"product-image") %>
        <% end %>
      </div>
      
      <div class='product-body'>
        <h3> <%= booking.artwork.name %> </h3>
        <p> <strong>Starts on:</strong> <%= booking.starts_on.strftime('%a %d %b %Y') %> </p>
        <p> <strong>Ends on:</strong> <%= booking.ends_on.strftime('%a %d %b %Y') %> </p>
        <p> <strong>Owner:</strong> <%= link_to booking.artwork.user.email, user_path(booking.artwork.user) %></p>
        <p> <strong>Price:</strong> <%= booking.price %> €</p>
      </div>

      <div class='product-status'>
        <% if booking.status == "Pending" %>
          <span class="pending-yellow"><i class="fa fa-hourglass-half" aria-hidden="true"></i> pending</span>
        <% elsif booking.status == "Confirmed" %>
          <span class="accept-green"><i class="fa fa-check" aria-hidden="true"></i> confirmed</span>
        <% else %>
          <span class="refuse-red"><i class="fa fa-times" aria-hidden="true"></i> declined</span>
        <% end %>
      </div>
      
      <ul class="list-inline product-controls <%= booking.status == "Refused" ? "" : "product-controls-hidden" %>">
        <li>
          <% if booking.status == "Refused"  %>
            <%= link_to artwork_booking_path(booking.artwork, booking), class: "control-hover", method: :delete do %>
              <i class="fa fa-trash" aria-hidden="true"></i> delete
            <% end %>
          <% else %>
            <%= link_to artwork_booking_path(booking.artwork, booking), class: "control-hover", method: :delete do %>
              <i class="fa fa-ban" aria-hidden="true"></i> cancel
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <% end -%>
    <% else %>
    <div class="product">
      <div class='product-body'>
        <h3> No bookings yet.</h3>
      </div>
    </div>
    <% end %>
  </div>
</div>