<div class="screen-footer padded">
  <div class="container flexx">
    <% avatar_url = @user.facebook_picture_url || default_avatar = "https://galerie.alittlemarket.com/galerie/sell/2626440/peintures-tableau-acrylique-abstrait-moderne-19314354-20161029-14541891a7-f00a9_big.jpg" %>
    <%= image_tag avatar_url, class: "avatar-xlarge"%>
    <div class="margined">
      <h1 class="dashboard-title">Gauthier<span class="minted"> Levha</span></h1>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= mail_to @user.email %></p>
    </div>
  </div>

  <div class="container padded">
    <h1 class="dashboard-title text-center">His<span class="minted"> art</span>works</h1>
    <div class="row">
      <% @artworks.each do |artwork| %>
      <div class="col-xs-12 col-md-4 col-sm-6 ">
        <div class="card">
          <div id="card-category">
            <p> <%= artwork.category %> </p>
          </div>
          <div class="card-description">
            <h3><%= artwork.name %></h3>
            <h5> <%= artwork.artist_name %> </h5>
          </div>
          <div class="card-price">
            <p> <%= artwork.price %> € / day</p>
          </div>
          <div class="card-photo">
            <%= cl_image_tag artwork.photo, height: 110, width: 150, crop: :fill %>
          </div>
          <div class="card-link">
            <%= link_to '', artwork, {class: "btn-card-link"} %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h1 class="dashboard-title text-center">Rate his<span class="minted"> art</span>:</h1>
    <h3 class="text-center">Available soon!</h3>
  </div>

  
</div>






