<%= simple_form_for [@artwork, @booking] do |f| %>
	<%= f.error_notification %>

	<%= f.input :starts_on, as: :date %>
	<%= f.input :ends_on, as: :date %>
	<label for="">Price:</label>
	<p class= "total-price"><%= @artwork.price %>€ / day</p>
	<%= f.input :price, as: :hidden %>
	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>