<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("about.jpg")%>');">
      <div class="banner-content">
        <h2>About us</h2>
        <p>Artbnb is the only place where you can rent artworks for your own events</p>
       <%= link_to 'Take a look', artworks_path, {class: "btn btn-primary"} %>
      </div>
    </div>

<div class="container text-center ">
  <h2> Meet the team </h2>
    <div class="text-center padded features">

      <h3>Alex</h3>
      <%= image_tag "", class: "img-circle" %>

      <h3>Gauthier</h3>
      <%= image_tag "", class: "img-circle" %>

      <h3>Francois</h3>
      <%= image_tag "", class: "img-circle" %>

      <h3>Eytan</h3>
      <%= image_tag "", class: "img-circle" %>
    </div>
</div>

<div class="text-center padded">
      <%= link_to 'Contact us', contact_path, {class: "btn btn-primary"} %>
</div>

#Need a footer and front-end
#Need to add photos
